<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- changes from the defaults for testing -->
        <!--todo log4j 配置学习-->
        <setting name="logImpl" value="log4j" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <!--zzy 这里是简化实体类-->
        <package name="com.zzy.study.model"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="jdbc"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <!-- <property name="url" value="jdbc:oracle:thin:@10.4.22.28:1521:orcl"/> -->
                <property name="url" value="jdbc:mysql://localhost:3306/zzy"/>
                <property name="username" value="root"/>
                <property name="password" value=""/>
                <property name="poolMaximumActiveConnections" value="100"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- common，注意xml放入到resources -->
        <mapper resource="mapping/CountryMapper.xml" />
        <mapper resource="mapping/SysUserMapper.xml" />
        <mapper resource="mapping/SysRoleMapper.xml" />
    </mappers>
</configuration>