<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.study.dao.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="SysUser">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="user_password" property="userPassword" />
        <result column="user_email" property="userEmail" />
        <result column="user_info" property="userInfo" />
        <result column="head_img" property="headImg"  jdbcType="BLOB"/>
        <result column="create_time" property="createTime" />
    </resultMap>
    
    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM sys_user WHERE ID = #{id}
    </select>

    <select id="selectAll" resultType="com.zzy.study.model.SysUser">
        SELECT * FROM sys_user
    </select>

    <insert id="insertUser" parameterType="SysUser">
        INSERT INTO sys_user VALUES (
          #{id},#{userName},#{userPassword},#{userEmail},#{userInfo},#{headImg},#{createTime}
        )
    </insert>
</mapper>
