<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.study.dao.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="SysUser">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="user_password" property="userPassword" />
        <result column="user_email" property="userEmail" />
        <result column="user_info" property="userInfo" />
        <result column="head_img" property="headImg"  jdbcType="BLOB"/>
        <result column="create_time" property="createTime" />
    </resultMap>
    
    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM sys_user WHERE ID = #{id}
    </select>

    <select id="selectAll" resultType="com.zzy.study.model.SysUser" >
        SELECT * FROM sys_user
    </select>
    <!--Oracle的selectKey 要写在前面，order="BEFORE"，oracle是在插入前必须获取到对应的id值，而且取用的是一个已存在的序列的值 select SEQ_ID.nextval from dual;-->
    <!--解决插入空值的问题-->
    <insert id="insertUser" parameterType="SysUser" >
        INSERT INTO sys_user(user_name,user_password,
        <if test="userEmail != null">
        user_email,
        </if>
        user_info,head_img,create_time) VALUES (
          #{userName},#{userPassword},
        <if test="userEmail != null">
        #{userEmail},
        </if>
        #{userInfo},#{headImg},#{createTime}
        )
        <selectKey keyColumn="id" resultType="long" keyProperty="id" order="AFTER">
        select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateById">
        UPDATE sys_user SET user_name = #{userName},user_password = #{userPassword},user_email = #{userEmail},user_info = #{userInfo},head_img = #{headImg},create_time = #{createTime} WHERE id = #{id}
    </update>

    <select id="selectByNameOrInfo" resultType="SysUser">
        SELECT * FROM sys_user where 1=1
        <choose>
            <when test="userName != null">
                and user_name = #{userName}
            </when>
            <when test="orderInfo != null">
                and order_info = #{orderInfo}
            </when>
            <otherwise>
                and 2=3
            </otherwise>
        </choose>
    </select>
</mapper>
