<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.study.dao.SysUserMapper">
    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="false"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="SysUser">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="user_password" property="userPassword" />
        <result column="user_email" property="userEmail" />
        <result column="user_info" property="userInfo" />
        <result column="head_img" property="headImg"  jdbcType="BLOB"/>
        <result column="create_time" property="createTime" />
    </resultMap>

    <resultMap id="BaseResultMap2" extends="BaseResultMap" type="SysUser">
        <association property="sysRole" columnPrefix="role_" javaType="SysRole">
        <id column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="enabled" property="enabled" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        </association>
    </resultMap>


    <!--
    核心点1 extends 继承父类的resultmap
    核心点2 association标签  property指代实体类成员变量 前缀的目的是给column加，防止重复属性名
    核心点3 使用的时候注意查到的属性用别名-加role_
    -->
    <resultMap id="userRoleMap" type="SysUser" extends="BaseResultMap">
        <collection property="sysRoleList" columnPrefix="role_" javaType="ArrayList" ofType="SysRole" fetchType="lazy">
            <id property="id" column="id"/>
            <result property="roleName" column="role_name"/>
            <result property="enabled" column="enabled"/>
            <result property="createBy" column="create_by"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        </collection>
    </resultMap>

    <resultMap id="associationSelectResult" type="SysUser" extends="BaseResultMap">
        <collection property="sysRoleList" column="{id=role_id}"
                     select="com.zzy.study.dao.SysRoleMapper.selectRoleById" />
    </resultMap>
    <select id="selectAssociationBySelect" resultMap="associationSelectResult" flushCache="false">
        SELECT u.*,ur.role_id
        FROM sys_user u LEFT JOIN sys_user_role ur ON  u.id = ur.user_id
    </select>

    <select id="selectAssociation" resultMap="userRoleMap">
        select u.*,r.id role_id,r.role_name role_role_name,r.enabled role_enabled,r.create_by role_create_by,r.create_time role_create_time
        from sys_user u
        LEFT JOIN sys_user_role ur on u.id = ur.user_id
        LEFT JOIN sys_role r on ur.role_id = r.id
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM sys_user WHERE ID = #{id}
    </select>

    <select id="selectAll" resultType="com.zzy.study.model.SysUser" >
        SELECT * FROM sys_user
    </select>
    <!--Oracle的selectKey 要写在前面，order="BEFORE"，oracle是在插入前必须获取到对应的id值，而且取用的是一个已存在的序列的值 select SEQ_ID.nextval from dual;-->
    <!--解决插入空值的问题-->
    <insert id="insertUser" parameterType="SysUser" >
        INSERT INTO sys_user(user_name,user_password,
        <if test="userEmail != null">
        user_email,
        </if>
        user_info,head_img,create_time) VALUES (
          #{userName},#{userPassword},
        <if test="userEmail != null">
        #{userEmail},
        </if>
        #{userInfo},#{headImg},#{createTime}
        )
        <selectKey keyColumn="id" resultType="long" keyProperty="id" order="AFTER">
        select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateById">
        UPDATE sys_user SET user_name = #{userName},user_password = #{userPassword},user_email = #{userEmail},user_info = #{userInfo},head_img = #{headImg},create_time = #{createTime} WHERE id = #{id}
    </update>

    <select id="selectByNameOrInfo" resultType="SysUser">
        SELECT * FROM sys_user where 1=1
        <choose>
            <when test="userName != null">
                and user_name = #{userName}
            </when>
            <when test="orderInfo != null">
                and order_info = #{orderInfo}
            </when>
            <otherwise>
                and 2=3
            </otherwise>
        </choose>
    </select>
</mapper>
